.wrapper {
	max-width: 100%;
	width: 100%;

	position: relative;
}

.search {
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

.menu {
	position: absolute;
	z-index: 1000;
	left: 0;
	right: 0;
}

.fallback {
	text-align: center;
	background-color: white;
}

.fallback > p {
	padding: 10px;
}
