.main {
	padding: 10px 12px;
	font-size: 14px;

	border: none;
	cursor: pointer;
	transition: background-color 0.1s linear;
	border-radius: 10px;
}

.main:focus {
	outline: 1px solid var(--blue);
}

.contained {
	background-color: var(--blue);
	color: var(--white);
}

.contained:hover {
	background-color: var(--blue-dark);
}

.outlined {
	background-color: white;
	border: 1px solid var(--blue-light);
}

.outlined:hover {
	border-color: var(--blue-dark);
	background-color: rgb(233, 233, 233);
}
