.wrapper {
	display: flex;
	justify-content: end;
	flex-direction: column;
	position: relative;
	width: 100%;
}

.input {
	padding: 10px 12px;
	border-radius: 10px;
	border: 1px solid blue;

	font-size: 16px;
	height: 100%;
}

.input:focus {
	outline: 1px solid blue;
}

.error {
	position: absolute;
	width: 100%;
	bottom: -25px;
	color: red;
	text-align: center;
}

@media screen and (max-width: 700px) {
	.error {
		bottom: -15px;
		font-size: 12px;
	}
}
