.main {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 30px 5px;
	gap: 15px;
}

.side {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.side > button {
	height: 100%;
}

.control {
	display: flex;
	align-items: center;
}

@media screen and (max-width: 980px) {
	.main {
		padding: 15px 0;
		display: flex;
		flex-direction: column;
	}
}
