.main {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid var(--blue-light);
	outline: none;

	cursor: pointer;
}

.main:hover {
	border-color: var(--blue-dark);
}

.main:focus {
	outline: 1px solid var(--blue);
}
