* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--white: rgb(255, 255, 255);
	--red: rgb(255, 0, 0);
	--red-dark: rgb(190, 50, 50);

	--blue: rgb(78, 78, 255);
	--blue-dark: rgb(0, 0, 255);
	--blue-light: rgb(113, 113, 255);
	--blue-purple: rgb(143, 148, 251);
}

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
}
